.motivation {
  margin-top: 60px;
}

.motivation__wrapper {
  background: var(--color-black);
  padding: 30px;
  border-radius: 30px;

  .motivation__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 48px;
    font-family: "Montserrat-bd", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 645px;

    svg {
      position: absolute;
      left: 2.5%;
      top: -40%;

      @media (max-width: 798px) {
        display: none;
      }
    }

    span {
      display: none;
      @media (max-width: 798px) {
        display: block;
      }
    }

    @media (max-width: 798px) {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }

    @media (max-width: 400px) {
      font-size: 20px;
    }

    @media (max-width: 350px) {
      font-size: 16px;
    }
  }

  ul {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 40px;

    li {
      width: 500px;

      h3 {
        display: flex;
        align-items: center;

        font-size: 24px;
        text-transform: uppercase;
        font-family: "Montserrat-bd", sans-serif;
        font-weight: 700;

        span {
          font-size: 64px;
          color: var(--color-orange);
          font-family: "Montserrat-bd", sans-serif;
          font-weight: 700;
          margin-right: 20px;

          @media (max-width: 798px) {
            font-size: 32px;
          }
        }

        @media (max-width: 798px) {
          font-size: 20px;
        }

        @media (max-width: 400px) {
          font-size: 14px;
        }
      }

      p {
        margin-top: 20px;
        line-height: 120%;
      }
    }

    @media (max-width: 798px) {
      gap: 20px;
    }
  }

  .motivation__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    a {
      border-radius: 25px;
      color: var(--color-orange);
      background: var(--color-white);
      padding: 15px 70px;
      font-size: 16px;
      font-family: "Montserrat-bd", sans-serif;
      font-weight: 700;

      transition: all 0.2s linear;

      &:hover {
        background: var(--color-orange);
        color: var(--color-white);
        box-shadow: 0px 0px 20px var(--color-orange);
      }

      @media (max-width: 798px) {
        padding: 15px 40px;
      }

      @media (max-width: 345px) {
        padding: 15px 30px;
      }
    }
  }
}
